body {
    margin: 60px auto;
    width: 80%;
    font-family: 'Helvetica' 
}

header title,header nav {
    display:inline-block;
    vertical-align:middle;
 }

nav ul{
    padding: 0px;
    list-style: none;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
  } 
footer ul {
    padding: 0px;
    list-style: none;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a.nav {
    text-decoration: none;
    color: black;
    
}
a.nav:hover {
    text-decoration: underline;
    color: #49A2A0;
}

a.nav:active {
  color: #333;
}

a.external {
    text-decoration: none;
    color: #49A2A0;
    font-weight: normal
}
a.external:hover {
    text-decoration: underline;
}

a.external:active {
  color: #333;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    font-size: 1.6em;
    line-height: 1.4em;
    text-align: center;
    font-weight: normal;
    padding: 15px;
    margin:0px;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    text-align: center;
    padding: 7px;
    margin:0px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 31.5% 31.5% 31.5%;
  grid-template-rows: auto;
  justify-content: space-around;
}


@media(max-width:540px){
  .grid-container {
     grid-template-columns: repeat(1, 1fr);
  }
}

